$pale-gold: #C0B283;
$silk: #DCD0C0;
$paper: #F4F4F4;
$charcoal: #373737;

* {
  font-family: "Liberation Sans Narrow", sans-serif;
  color: $charcoal;
  box-sizing: border-box;
}
body {
  background-color: white;
}
#root {
  padding: 1em;
}
.hours {
  top: 2em;
  width: 15%;
  height: auto;
  text-align: right;
  float: left;
  border-right: 1px solid $charcoal;
  border-left: 0px solid $charcoal;
  border-top: 1px solid $charcoal;
  background-color: $pale-gold;

  div {
    padding: 5px;
    border-bottom: 1px solid $charcoal;
  }
}
.hours.right {
  text-align: left;
  border-right: 0px solid $charcoal;
  border-left: 1px solid $charcoal;
}
.dayGrid {
  top: 2em;
  height: auto;
  background-color: white;
}
.flightsContainer {
  width: 85%;
  background-color: $paper;
  border: 1px solid $charcoal;
  float: left;
}
.flightColumn {
  width: 17.5%;
  height: 300px;
  padding: 15px;
  background-color: $paper;
  border-right: 1px solid $charcoal;
  border-top: 1px solid $charcoal;
  float: left;
  position: relative;
}
.columnTitle {
  text-align: center;
  font-weight: bold;
}
.flight {
  min-height: 75px;
  width: 80%;
  height: auto;
  background-color: $silk;
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid $charcoal;
  border-radius: 4px;
  position: absolute;
}
.dateDisplay {
  width: auto;
  height: auto;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}
